<div data-brk-container="commits" class="wpgp-commits">
    <div class="wpgp-commits__header">
        <a href="{{link "wpgp_route" "editor"}}" type="button">
            ← Return to Editor
        </a>
    </div>
    <div class="wpgp-commits__app">
        <div class="wpgp-commits__list">
            {{#each commits}}
                <div class="wpgp-commits__item {{#compare ID selectedCommit.ID}}wpgp-commits__item--selected{{/compare}}"
                     data-id="{{ID}}" data-brk-onclick="onItemClick">
                    <img src="{{author.image}}"
                         alt="{{author.displayName}}">
                    <p><strong>{{description}}</strong></p>
                    <p>{{committed_at}}</p>
                </div>
            {{/each}}
        </div>
        <div class="wpgp-commits__preview">
            <h3>{{selectedCommit.description}}</h3>
            {{#each selectedCommit.states as |state|}}
                {{> component/blob/index blob=state}}
            {{/each}}
        </div>
    </div>
</div>
